body{
    /*background-image: url("./src/background_inici.png");*/
    background-color: rgb(238, 221, 183);
    background-repeat: no-repeat;
    background-size: cover;
}

.button_chose {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: stretch;
	align-content: stretch;
}

input :hover {
    box-shadow: 100%;
}